<article class="banner">
    <section>
        <div class="account-banner acount">
            <a href="">
                <span style="color: black;" class=" dropdown-toggle font-weight-bold" data-toggle="dropdown">account</span>

                <ul class="dropdown-menu">
                    <li style="margin-left: 10%;"><a routerLink="/loginAdmin" routerLinkActive="active">Admin</a></li>
                    <li style="margin-left: 10%;"><a routerLink="/login" routerLinkActive="active">student</a></li>
                    <li style="margin-left: 10%;"><a routerLink="/Loginowner" routerLinkActive="active">Housing Owner</a></li>
                    

                </ul>
            </a>
            <span style="margin: 1%;"></span>
            <div class="shopping-icon"><a routerLink="/card" routerLinkActive="active"><i class="fas fa-shopping-bag"></i></a></div>

        </div>
        <div class="ourcoust-banner">
            <div class="animated animatedFadeInUp fadeInUp">
            <h3>Reserve Room</h3>
            <h2>Moghtrap APP</h2>
            <p>Welcome to Moghtrap APP you can Reserve room easy</p>
            <button type="button">discover more Room</button>
        </div>
        </div>
    </section>
    <div class="banner-filler"></div>
</article>
