<article class="banner">
    <section>
        <div class="account-banner">
            <a routerLink="/login" routerLinkActive="active">
                <h4>my account</h4>
            </a>
            <div class="shopping-icon"><a routerLink="/card" routerLinkActive="active"><i class="fas fa-shopping-bag"></i></a></div>

        </div>
        <div class="ourcoust-banner">
            <div class="animated animatedFadeInUp fadeInUp">
            <h3>Reserve Room</h3>
            <h2>Moghtrap APP</h2>
            <p>Welcome to Moghtrap APP you can Reserve room easy</p>
            <button type="button">discover more Room</button>
        </div>
        </div>
    </section>
    <div class="banner-filler"></div>
</article>
