<footer>
    <article>
        <section class="footer-components">
            <section class="social">
                <div class="img-container">
                    <img src="../../../assets/img/logo/logo.jpg" alt="">
                </div>
                <p>Welcome to Moghtrap App</p>
                <div class="icons">
                    <span><i  class="fab fa-facebook-f"></i></span>
                    <span><i  class="fab fa-twitter"></i></span>
                    <span><i  class="fab fa-pinterest-p"></i></span>
                </div>
            </section>
            <section class="quick-links">
                <h4>Useful links</h4>
                <a href="#">About Us</a>
                <a href="#">Services</a>
                <a style="font-size: 72%;" href="#">Moghtrap program</a>
                <a href="#">integration</a>
            </section>
            <section class="shop-category">
                <h4>category</h4>
                <a href="#">Blog</a>
                <a href="#">Contact Us</a>
                <a href="#">Join Us</a>
                <a href="#">LogIn</a>
                <a style="font-size: 68%;" href="#">Get Free Quote Now</a>
            </section>
            <section class="pertners">
                <h4>Contact Us</h4>
                <a href="#">About UsLink</a>
                <a href="#">1150911427</a>
                <a style="font-size: 80%;" href="#">MostafaHussien.official@gmail.com</a>
            </section>
        </section>
        <section class="footer-info">
            <span>copy right &copy; @Moghtrap2022</span>
        </section>
    </article>
</footer>