<form #rentRoom="ngForm" class="register-form-area" (ngSubmit)="onSubmit(rentRoom.value)" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="input-box">
        first name<br>
        <input type="text" name="fn" ngModel class="n1" placeholder="enter first name" ><br>
        last name<br>
        <input type="text" name="lname" ngModel class="n2" placeholder="enter second name" ><br>
        determine number of Rooms<br>
        <input type="number" name="numRoom" ngModel class="room" placeholder="number of Rooms" ><br>
        determine number of Members<br>
        <input type="number" name="numMember"ngModel class="Members" placeholder="number of Members" ><br>
        determine The price<br>
        <input type="number" name="price" ngModel class="price" placeholder="determine price " ><br>
        <button type="submit" class="">submit</button>
    </div>
    </div>
    </div>
</div>
</form>

