<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="slider-area">
        <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-8">
                        <div class="hero__caption hero__caption2">
                            <h1 class="animated animatedFadeInUp fadeInUp">CARD</h1>
                              <nav aria-label="breadcrumb">
                                 <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a routerLink="/secondHome" routerLinkActive="active">Home</a></li>
                                    <li class="breadcrumb-item"><a routerLink="/card" routerLinkActive="active">CARD</a></li> 
                                 </ol>
                             </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>