<div class="slider-area">
    <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-8">
                    <div class="hero__caption hero__caption2">
                        <h1 class="animated animatedFadeInUp fadeInUp">Contact Us</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="googleMap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28394.714424834725!2d31.166908404485625!3d27.177070640766765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14450be607cb7bcd%3A0xba699162bfc01112!2sAsyut%2C%20Al%20Hamraa%20Ath%20Thaneyah%2C%20El%20Fateh%2C%20Assiut%20Governorate!5e0!3m2!1sen!2seg!4v1642085622832!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="row">
        <div class="col-lg-7 col-sm-12 text_area">
            <h2>Get In touch send message</h2>
            <form>
                <textarea cols="30" rows="9" class="massage Data-style"></textarea><br>
                <input type="text" placeholder="Enter Your name" class="Data-style w-45" style="margin-right: 10%;margin-top: 20px;">
                <input type="email" placeholder="Enter Your Email" class="Data-style w-45" style=" margin-top: 20px;"><br>
                <input type="text" placeholder="Enter subject" class="Data-style" style="width: 100%;margin-top: 20px;"><br>
                <button class="button button1" type="submit">SEND</button>
            </form>
        </div>
        <div class="col-lg-3 col-sm-12 sidePar">
            <div>
                <span class="contact-info__icon"><i class="ti-home"></i></span>
                <div>
                    <h5>Moghtrap, Asyt.</h5>
                    <p>Reserve a room</p>
                </div>
            </div>
            <div>
                <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                <span>
            <h3>1150911427</h3>
            <p>Mon to Fri 9am to 6pm</p>
        </span>
            </div>
            <div>
                <span class="contact-info__icon"><i class="ti-email"></i></span>
                <div class="media-body">
                    <h4>MostafaHussien.official@gmail.com</h4>
                    <p>Send us your query anytime!</p>
                </div>
            </div>
        </div>

    </div>
</div>