


<article class="container" >
    <section class="popular-pro-text">
        <div class="animated animatedFadeInUp fadeInUp">
            <h2>Apartment</h2>
            <p>check All Apartment here</p>
        </div>
    </section>
<div class="row">
    <div style="border-radius: 5%;" *ngFor="let room of roomList" class="article build popular-pro-products col-sm-12 col-md-6 col-lg-3">
        <div   class="popular-product1">
            <img style="width: 100%; height: 70%; " src="../../../../assets/img/room/{{room.id}}.jpg" alt="popular product">
            <div style="width: 100%; background-color: cadetblue;" >
                <span class="col-12">{{room.price}} egp monthly</span>
                <!-- <span class="col-1"></span>-->
                <span class="col-12">{{room.gender}}</span>
            </div>
            <div style="background-color: khaki;">
            <h4><a href="https://www.google.com/maps/search/Assuit%2Fseed+factory%2FAl-sabeel%2F+st.sayed+marzouq%2Fin+front+of+Afandina+Restaurnt/@27.1770292,31.2194376,13z/data=!3m1!4b1">{{room.address}}</a></h4>
            <h5 class="col-12"><span class="col-5"><i class="fa fa-light fa-star"></i> <i class="fa fa-light fa-star"></i> <i class="fa fa-light fa-star"></i>  <i class="fa fa-light fa-star"></i> <i class="fa fa-light fa-star"></i></span>  <span class="col-4"> </span> <span class="col-3"></span></h5>
             </div>

             <div class="row">
                 <div class="col-4"> <b>Rooms </b>  <small>in depart</small> </div>
                 <div class="col-2"></div>
                 <div class="col-2"></div>
                 <div class="col-4">{{room.num_room}} Rooms</div>

             </div>
             <div class="row">
                 <div class="col-12"><hr></div>
             </div>
             <div class="row">
                <div class="col-4"> <b>beds &nbsp; &nbsp;&nbsp;  </b>  <small> in Room</small> </div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-4">{{room.num_beds}} Bed</div>
             </div>
             <div class="row">
                <div class="col-12"><hr></div>
            </div>
             <div class="row">
                <div class="col-4"> <b>priceServices </b>  <small>in Room</small> </div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-4">{{room.price_services}}</div>
             </div>
             <div class="row">
                <div class="col-12"><hr></div>
            </div>
             <div class="row">
                <div class="col-4"> <b>housingId </b>  <small></small> </div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-4">{{room.housingId}}</div>
             </div>
             <div class="row">
                <div class="col-12"><hr></div>
            </div>

             <div class="row">
                <div class="col-4"> <b>describe </b>  <small>Balcony</small> </div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-4"><i class="fa fa-solid fa-check"></i> </div>
             </div>
             <div class="row">
                <div class="col-12"><hr></div>
            </div>

             <div class="row">
                <div class="col-4"> <b>describe </b>  <small>Baths</small> </div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-4">1 Bath</div>
             </div>
             <div class="row">
                <div class="col-12"><hr></div>
            </div>

             <div class="row">
                 <table style="border: 1px solid #777;" class="col-12">
                    <tr>
                        <td><b>Services</b> </td>
                    </tr>
                     <tr style="border: 1px solid #777;">
                         <td style="border: 1px solid #777;">internet <i class="fa fa-solid fa-check"></i> </td>
                         <td style="border: 1px solid #777;">Elevator <i class="fa fa-times" aria-hidden="true"></i></td>
                         <td style="border: 1px solid #777;">conditioner <i class="fa fa-times" aria-hidden="true"></i></td>
                         <td style="border: 1px solid #777;">period cleaning <i class="fa fa-times" aria-hidden="true"></i></td>
                     </tr>
                 </table>

             </div>
        </div>
     
    </div>
</div>
    
</article>