


<article class="container" >
    <section class="popular-pro-text">
        <div class="animated animatedFadeInUp fadeInUp">
            <h2>Room</h2>
            <p>check All Builds here</p>
        </div>
    </section>
<div class="row">
    <div style="border-radius: 5%;" *ngFor="let room of roomList" class="article build popular-pro-products col-sm-12 col-md-6 col-lg-3">
        <div   class="popular-product1">
            <img style="width: 100%; height: 70%; " src="../../../../assets/img/room/{{room.id}}.jpeg" alt="popular product">
            <div style="width: 100%; background-color: cadetblue;" >
                <span class="col-12">{{room.price}} egp monthly</span>
                <!-- <span class="col-1"></span>-->
                <span class="col-12">{{room.gender}}</span>
            </div>
            <div style="background-color: khaki;">
            <h4><a href="https://www.google.com/maps/search/Assuit%2Fseed+factory%2FAl-sabeel%2F+st.sayed+marzouq%2Fin+front+of+Afandina+Restaurnt/@27.1770292,31.2194376,13z/data=!3m1!4b1">{{room.address}}</a></h4>
            <h5 class="col-12"><span class="col-5"><i class="fa fa-light fa-star"></i> <i class="fa fa-light fa-star"></i> <i class="fa fa-light fa-star"></i>  <i class="fa fa-light fa-star"></i> <i class="fa fa-light fa-star"></i></span>  <span class="col-4"> </span> <span class="col-3"></span></h5>
             </div>
        </div>
     
    </div>
</div>
    
</article>